body {
    margin: 20px;
    background-color: rgb(185, 209, 221);
}

p {
    font-size: 1rem;
}

h1 {
    margin-bottom: 5px;
}

button {
    margin-top: 10px;
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 1rem;
  }